.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 100px;
}

.App-header {
  background-color: rgb(6, 151, 248);
  height: 150px;
  padding: 20px;
  color: rgb(10, 0, 0);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  margin: 15px 75px 15px 75px;
  text-align: justify;
}

.App-QueriedWord {
  text-decoration: 'underline';
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
